In [7]:
import os
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import GroupKFold, KFold
from sklearn.preprocessing import LabelEncoder
from data_handler import DataSetHandler

In [3]:
cHL1 = DataSetHandler(path='/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_1_MIBI/quantification/processed/cHL1_MIBI_cleaned.csv', random_state = 20240923)

DataSetHandler initialized successfully

In [5]:
cHL1.preprocess(dropna=False, group_identifier_column = 'identifier')

Data successfully preprocessed

In [6]:
cHL1.save_labels('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_1_MIBI/quantification/processed/')
cHL1.createKfold(k=5)
cHL1.save_folds('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_1_MIBI/quantification/processed/')

Labels saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_1_MIBI/quantification/processed/ as labels.csv
Group identifier column specified, GroupKFold will be used
5 folds created. To save the folds, call save_folds method.
Folds saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_1_MIBI/quantification/processed/kfolds

In [8]:
cHL2 = DataSetHandler(path='/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_2_MIBI/quantification/processed/cHL2_MIBI_cleaned.csv', random_state = 20240923)

DataSetHandler initialized successfully

In [9]:
cHL2.preprocess(dropna=False)

Data successfully preprocessed

In [10]:
cHL2.save_labels('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_2_MIBI/quantification/processed/')
cHL2.createKfold(k=5)
cHL2.save_folds('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_2_MIBI/quantification/processed/')

Labels saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_2_MIBI/quantification/processed/ as labels.csv
No group identifier column specified, KFold will be used
5 folds created. To save the folds, call save_folds method.
Folds saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_2_MIBI/quantification/processed/kfolds

In [11]:
cHL_CODEX = DataSetHandler(path='/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_CODEX/quantification/processed/cHL_CODEX_cleaned.csv', random_state = 20240923)

DataSetHandler initialized successfully

In [12]:
cHL_CODEX.data

,BCL.2,CCR6,CD11b,CD11c,CD15,CD16,CD162,CD163,CD2,CD20,...,T.bet,TCR.g.d,TCRb,Tim.3,VISA,Vimentin,a.SMA,b.Catenin,cellSize,cell_type
0,0.792642,0.617038,0.000089,0.000040,0.000029,0.097688,0.007772,0.005356,0.159593,0.754060,...,0.241829,0.681727,0.159092,0.006533,0.000454,0.139826,0.0,0.057827,42,B
1,0.000000,0.127394,0.062173,0.660572,0.000000,0.000000,0.172885,0.006180,0.000000,0.000000,...,0.010475,0.231264,0.058234,0.111610,0.182849,0.899717,0.0,0.267198,63,DC
2,0.060620,0.134818,0.298522,0.083348,0.000000,0.182152,0.000210,0.001401,0.000000,0.000000,...,0.033671,0.201099,0.000000,0.004900,0.454174,0.069180,0.0,0.104686,29,NK
3,0.000000,0.012896,0.287698,0.268121,0.000000,0.124361,0.016805,0.208045,0.037673,0.000019,...,0.000000,0.000000,0.052230,0.148087,0.228221,0.053541,1.0,0.283151,64,Monocyte
4,0.201057,0.110590,0.000000,0.000000,0.000000,0.000000,0.745316,0.013513,0.292691,0.039192,...,0.124955,0.154981,0.597647,0.013284,0.000454,0.234038,0.0,0.000000,61,CD4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143725,0.000000,0.523642,1.000000,0.182044,1.000000,1.000000,0.055458,0.019692,0.004761,0.064028,...,0.790734,0.878804,0.067239,0.082646,0.671506,0.455424,0.0,0.040877,119,Neutrophil
143726,0.000000,0.210238,0.313372,0.076860,0.986128,0.587575,0.044324,0.053227,0.099109,0.090999,...,0.801359,0.500603,0.069040,0.077637,0.327586,1.000000,0.0,0.068794,82,Neutrophil
143727,0.000000,0.620555,0.000089,0.025792,0.000029,0.255168,0.000000,0.000000,0.829552,0.068726,...,1.000000,0.752380,0.806268,0.250223,1.000000,0.462049,0.0,0.086740,92,Other
143728,0.000000,0.597890,0.000000,0.099606,0.000029,0.370193,0.012604,0.032381,0.571802,1.000000,...,1.000000,0.899182,0.362010,0.142534,0.086661,0.963140,0.0,0.167498,184,CD4
143729,0.000000,0.030481,0.000000,0.083704,0.000058,1.000000,0.000000,0.946296,0.010143,0.013962,...,0.662786,0.307816,0.000000,0.373048,0.000454,0.110449,0.0,0.000000,53,M2

In [13]:
cHL_CODEX.preprocess(dropna=False)

Data successfully preprocessed

In [14]:
cHL_CODEX.save_labels('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_CODEX/quantification/processed/')
cHL_CODEX.createKfold(k=5)
cHL_CODEX.save_folds('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_CODEX/quantification/processed/')

Labels saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_CODEX/quantification/processed/ as labels.csv
No group identifier column specified, KFold will be used
5 folds created. To save the folds, call save_folds method.
Folds saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/Maps_data/cHL_CODEX/quantification/processed/kfolds

In [20]:
sarc = DataSetHandler(path='/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/tb_sarc/quantification/processed/sarc/allTB-sarcoid-scdata_reshaped_cleaned.csv', random_state = 20240923)

DataSetHandler initialized successfully

In [21]:
sarc.data.isna().sum()

C               12960
Na               9506
HH3                 0
Vimentin            0
SMA                 0
Collagen.1          0
Lag3                0
CD4                 0
CD14                0
Foxp3               0
PD.1                0
CD31                0
PD.L1               0
E.cadherin       9506
Ki67                0
CD209            9506
CD206               0
gdTCR            9506
iNOS                0
CD68                0
CD36             9506
CD8                 0
CD3                 0
IDO                 0
CD11c               0
CD163               0
CD20                0
CD16             9506
IFNg                0
HLA.DR.DQ.DP        0
CD11b               0
CD45                0
H3K9Ac              0
Keratin.pan      9506
CD103            9506
MastChyTry          0
MPO                 0
NaKATPase        9506
HLA.Class.1      9506
Ta                  0
Au                  0
cellSize            0
PatientROI          0
cell_type           0
dtype: int64

In [24]:
sarc.data

,C,Na,HH3,Vimentin,SMA,Collagen.1,Lag3,CD4,CD14,Foxp3,...,CD103,MastChyTry,MPO,NaKATPase,HLA.Class.1,Ta,Au,cellSize,PatientROI,cell_type
0,0.911187,0.813581,0.765556,0.786841,0.0,0.000000,0.0,0.660956,0.000000,0.0,...,0.0,0.0,0.0,0.706893,0.823146,0.014510,0.080456,169,9_1,endothelial
1,0.912404,0.857459,0.881312,0.726815,0.0,0.018747,0.0,0.308791,0.605867,0.0,...,0.0,0.0,0.0,0.692380,0.740648,0.068144,0.076104,240,9_1,endothelial
2,0.890122,0.838072,0.839182,0.795838,0.0,0.000000,0.0,0.564652,0.544975,0.0,...,0.0,0.0,0.0,0.564155,0.715430,0.000000,0.058582,40,9_1,CD16_CD14_Mono
3,0.900242,0.861314,0.797691,0.509005,0.0,0.000000,0.0,0.253260,0.070368,0.0,...,0.0,0.0,0.0,0.403058,0.738303,0.036695,0.069880,66,9_1,CD8_T
4,0.891710,0.880452,0.910139,0.544552,0.0,0.000000,0.0,0.710051,0.373022,0.0,...,0.0,0.0,0.0,0.604402,0.688543,0.066717,0.087015,386,9_1,CD4_T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56397,NaN,NaN,0.579460,0.000000,0.0,0.000000,0.0,0.000000,0.201591,0.0,...,NaN,0.0,0.0,NaN,NaN,0.844798,0.870990,83,6_2,CD14_Mono
56398,NaN,NaN,0.637259,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,...,NaN,0.0,0.0,NaN,NaN,0.657788,0.787749,157,6_2,imm_other
56399,NaN,NaN,0.667161,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,...,NaN,0.0,0.0,NaN,NaN,0.658629,0.844937,188,6_2,imm_other
56400,NaN,NaN,0.617340,0.000000,0.0,0.000000,0.0,0.000000,0.189506,0.0,...,NaN,0.0,0.0,NaN,NaN,0.858497,0.887397,179,6_2,CD14_Mono
56401,NaN,NaN,0.622822,0.000000,0.0,0.000000,0.0,0.000000,0.106757,0.0,...,NaN,0.0,0.0,NaN,NaN,0.627577,0.808392,128,6_2,CD14_Mono

In [23]:
sarc.preprocess(dropna=False, group_identifier_column = 'PatientROI')

Data successfully preprocessed

In [25]:
sarc.save_labels('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/tb_sarc/quantification/processed/')
sarc.createKfold(k=5)
sarc.save_folds('/Volumes/Lukas_SSD/phenotyping_benchmark/datasets/tb_sarc/quantification/processed/')

Labels saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/tb_sarc/quantification/processed/ as labels.csv
Group identifier column specified, GroupKFold will be used
5 folds created. To save the folds, call save_folds method.
Folds saved in: /Volumes/Lukas_SSD/phenotyping_benchmark/datasets/tb_sarc/quantification/processed/kfolds